


<h1 class="mt-3">Pipes <small>Angular </small></h1>
<hr>

  <div class="row">
    <div class="col">
        <table class="table">
          <thead class="thead-dark">
            <tr class="">
              <th>Variable</th>
              <th>Pipe</th>
              <th>Salida</th>
            </tr>
          </thead>
          <tbody>
            <tr> {{ nombre }} </tr>
            <tr> lowerCase</tr>
            <tr> {{ nombre | uppercase }} </tr>
          </tbody>
        </table>
    </div>
  </div>